@charset "UTF-8";
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', Arial, sans-serif;
            background: #ffffff;
            color: #111;
            overflow-x: hidden;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        /* MAIN */
        .page-wrap {
            max-width: 1200px;
            margin: 60px auto;
            padding: 0 40px;
        }

        /* TEAM */
        .team-section {
            display: grid;
            grid-template-columns: 300px 500px;
            gap: 60px;
            justify-content: center;
            align-items: center;
            margin: 0 auto 100px auto;
            text-align: center;
        }

        .team-image-box {
            width: 100%;
            height: 350px;
            border-radius: 20px;
            overflow: hidden;
        }

        .team-image-box img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .team-content {
        	display: flex;
        	flex-direction: column;
            justify-content: center;
        }

        .team-content h2 {
            font-size: 48px;
		    font-weight: 700;
		    margin-bottom: 25px;
		    position: relative;
        }
        
        .team-content p {
        	font-size: 1.1rem;
		    line-height: 1.8;
		    color: #555;
		    max-width: 500px;
        }

        /* MEMBERS */
        .members-section h2 {
            font-size: 35px;
            margin-bottom: 20px;
        }

        .members-wrapper {
            overflow: hidden;
            position: relative;
        }

        .members-row {
            display: flex;
            gap: 20px;
            width: max-content;
            animation: scroll 25s linear infinite;
        }
        
        .members-row:hover {
		    animation-play-state: paused;
		}

        .member-card {
            min-width: 200px;
            height: 260px;
            position: relative;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 8px 20px rgba(0,0,0,0.1);
            flex-shrink: 0;
        }

        .member-card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .member-name {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            color: white;
            font-weight: bold;
            padding: 10px;
            background: rgba(0,0,0,0.6);
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-50%);
            }
        }