@charset "UTF-8";

.back-btn {
    text-decoration: none;
    color: #666;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.back-btn i {
    margin-right: 5px;
}

.form-container {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin-bottom: 8px;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #eee;
    background-color: #f9f9f9;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

.full-width {
    grid-column: span 2;
}

.current-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

.current-image-container p {
    font-size: 14px;
    color: #666;
    margin: 0 15px;
}

.form-image-preview {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.submit-btn {
    background-color: #e67e22;
    color: #fff;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
    width: 100%;
}