
.container {
  margin-top: 20px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.edit-btn {
	background: #9E9E9E;
}

.delete-btn, .add-item-btn {
	background: #DB4A1E;
}

.delete-btn, .edit-btn, .add-item-btn {
	display: flex;
	width: 65px;
	height: 20px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 20px;
}


.canteen-btn {
  background: #fff;
  border: 1px solid #ddd;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  width: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background: #f2f2f2;
}

th, td {
  padding: 10px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

