* {
    margin: 0;
    padding: 0;
}

.hero-image {
  height: 35vh;
  width: 100%;
  background-image: url('../assets/contact.jpg');
background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: #363636;
}




