* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.5;
}

.hero-image {
  height: 35vh;
  width: 100%;
  background-image: url("../assets/contact.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: #363636;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 0px 40px 0px;
  flex-wrap: wrap;
  position: relative;
}

.info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  width: 100%;
}

.info-card {
  background: white;
  border-radius: 12px;
  padding: 28px 24px;
  width: 100%;
  max-width: 340px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card h2 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #222;
}

.number {
  font-size: 26px;
  font-weight: 600;
  color: #111;
  margin-bottom: 12px;
}

.subtitle {
  color: #555;
  line-height: 1.5;
  margin-bottom: 24px;
  font-size: 15px;
}

.btn {
  color: #222;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px solid #222;
}

.map {
  text-align: center;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.map img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-container::before {
    display: none;
  }

  .info {
    max-width: 90%;
  }

  .map {
    max-width: 90%;
  }

  .hero-title {
    font-size: 48px;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 32px;
  }
}
