@charset "UTF-8";
/* Before Login Navbar CSS file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #f9f8f7;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0.5rem 0rem;
  box-shadow: 0px 0px 5px rgb(220, 220, 220);
}

.below-nav{
  height:74px;
  width:100%;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-logo-container {
  text-decoration: none;
  color: #db4a1e;
  line-height: 1.8rem;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.logo-text{
  font-family:"Pacifico";
  font-size: 1.75rem;
}

/* Desktop Links  */
.nav-links {
  display: flex;
  gap: 2.5rem;
  font-family: "DM Sans";
}

.nav-link {
  font-size: 1.15rem;
  font-weight: 400;
  color: #363636;
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: "";
  background-color: #db4a1e;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
  border-radius: 1rem;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover {
  color: #db4a1e;
}

/* Login Button  */
.nav-login-btn {
  background-color: #db4a1e;
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "DM Sans";
  transform: scale(1);
  transition: all 0.2s ease;
}

.nav-login-btn:hover {
  transform: scale(1.02);
}

/* For Mobile Screen*/

.nav-left {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.nav-mobile-menu {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans";
  height: 0px;
  overflow: auto;
  transition: height 0.3s ease;
}

.mobile-nav-link {
  padding: 0.85rem 1.5rem;
  font-size: 1.15rem;
  font-weight: 400;
  color: #363636;
  text-decoration: none;
  font-family: "DM Sans";
  transition: all 0.2s ease;
}

.mobile-nav-link:hover {
  color: #db4a1e;
  font-weight: 500;
}

/* Designing Hambuger Icon  */
.hamburger-container {
  display: none;
}

.hamburger {
  width: 22px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  background: none;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background-color: #363636;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

/* Hamburger icon transformations for cross icon when active   */

.nav-mobile-menu.active {
  height: 200px;
}

#hamburger-first-line.cross {
  transform: rotate(45deg) translateY(11px);
}

#hamburger-second-line.cross {
  opacity: 0;
  transform: scale(0);
}

#hamburger-third-line.cross {
  transform: rotate(-45deg) translateY(-11px);
}


/* Navbar Right Side  */
.nav-right {
  display: flex;
  gap: 2.75rem;
  align-items: center;
}

.loggedin-nav-links {
  display: flex;
  gap: 1.75rem;
  font-family: "DM Sans";
}

/* Navbar Symbols  */
.nav-symbols i {
  color: #363636;
  font-size: 1.25rem;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease;
}

.nav-symbols {
  display: flex;
  gap: 1.5rem;
}

.nav-symbols i:hover {
  color: black;
}

/* Navbar User Image  */
.nav-image-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.nav-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.25s ease;
  cursor: pointer;
}

.nav-profile-image:hover {
  transform: scale(1.07);
}

/* Adding Responsiveness through media queries  */

@media (max-width: 800px) {
  .nav-links {
    gap: 1.5rem;
  }
}

@media (max-width: 700px) {
  .hamburger-container {
    display: block;
  }

  .loggedin-nav-links{
  	display:none;
  }
  .nav-links {
    display: none;
  }
  
  
  .nav-container {
    justify-content: space-between;
  }

  .nav-login-btn {
    padding: 0.75rem 1rem;
  }

  nav {
    padding: 0.5rem 2rem;
  }
}

@media (min-width: 700px) {
  .nav-mobile-menu {
    display: none;
  }
}
